{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clients list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Raison_sociale</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.raisonsociale }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('client_show', { 'id': client.id }) }}" class="btn btn-secondary"><i class="fas fa-search"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('client_edit', { 'id': client.id }) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_new') }}" class="btn btn-success"><i class="fas fa-plus"> </i>Créer un nouveau client</a>
        </li>
    </ul>
{% endblock %}
