{% extends 'base.html.twig' %}

{% block body %}
    <h1>Factures list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_creation</th>
                <th>Date_paiement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td><a href="{{ path('facture_show', { 'id': facture.id }) }}">{{ facture.id }}</a></td>
                <td>{% if facture.datecreation %}{{ facture.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if facture.datepaiement %}{{ facture.datepaiement|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('facture_show', { 'id': facture.id }) }}" class="btn btn-secondary"><i class="fas fa-search"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('facture_edit', { 'id': facture.id }) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('facture_new') }}" class="btn btn-success"><i class="fas fa-plus"> </i>Créer un nouveau facture</a>
        </li>
    </ul>
{% endblock %}
