{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produitdevis list</h1>

     <table class="table table-striped table-bordered table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Code</th>
                <th>Prix_ht</th>
                <th>Quantite</th>
                <th>Remise_ht</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produitDevi in produitDevis %}
            <tr>
                <td><a href="{{ path('produitdevis_show', { 'id': produitDevi.id }) }}">{{ produitDevi.id }}</a></td>
                <td>{{ produitDevi.libelle }}</td>
                <td>{{ produitDevi.code }}</td>
                <td>{{ produitDevi.prixht }}</td>
                <td>{{ produitDevi.quantite }}</td>
                <td>{{ produitDevi.remiseht }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produitdevis_show', { 'id': produitDevi.id }) }}" class="btn btn-secondary"><i class="fas fa-eye"></i> Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('produitdevis_edit', { 'id': produitDevi.id }) }}" class="btn btn-primary"><i class="fas fa-edit"></i> Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produitdevis_new') }}" class="btn btn-success"><i class="fas fa-plus"> </i>Créer un nouveau produitDevi</a>
        </li>
    </ul>
{% endblock %}
