{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produitdevi</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produitDevi.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ produitDevi.libelle }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ produitDevi.code }}</td>
            </tr>
            <tr>
                <th>Prix_ht</th>
                <td>{{ produitDevi.prixht }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ produitDevi.quantite }}</td>
            </tr>
            <tr>
                <th>Remise_ht</th>
                <td>{{ produitDevi.remiseht }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produitdevis_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('produitdevis_edit', { 'id': produitDevi.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
