<div class="modal-header">
    <h5 class="modal-title" id="remoteModalTitle">Nouveau produit</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form, {'action': path('produit_new')}) }}
<div class="modal-body">
    <div class="row">
        <div class="col-sm">
            {{ form_row(form.libelle) }}
        </div>
        <div class="col-sm">
            {{ form_row(form.code) }}
        </div>
        <div class="col-sm">
            {{ form_row(form.prix_ht) }}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
    <input type="submit" class="btn btn-primary" value="Créer" data-remote="true"/>
</div>
{{ form_end(form) }}