{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produit</h1>

     <table class="table table-striped table-bordered table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ produit.libelle }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ produit.code }}</td>
            </tr>
            <tr>
                <th>Prix_ht</th>
                <td>{{ produit.prixht }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produit_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('produit_edit', { 'id': produit.id }) }}">Mettre à jour</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
