{% extends 'base.html.twig' %}

{% block body %}
    <h1>Civilites list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for civilite in civilites %}
            <tr>
                <td><a href="{{ path('civilite_show', { 'id': civilite.id }) }}">{{ civilite.id }}</a></td>
                <td>{{ civilite.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('civilite_show', { 'id': civilite.id }) }}" class="btn btn-secondary"><i class="fas fa-search"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('civilite_edit', { 'id': civilite.id }) }}" class="btn btn-primary"><i class="fas fa-pencil"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('civilite_new') }}" class="btn btn-success"><i class="fas fa-plus"></i>Ajouter une nouvelle Civilité</a>
        </li>
    </ul>
{% endblock %}
