{% extends 'base.html.twig' %}

{% block body %}
    <h1>Civilite</h1>

     <table class="table table-striped table-bordered table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ civilite.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ civilite.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('civilite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('civilite_edit', { 'id': civilite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
