<div class="modal-header">
    <h5 class="modal-title" id="remoteModalTitle">Ajouter une adresse pour "{{ adresse.client }}"</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form, {'action': path('adresse_add', {'id':adresse.client.id})}) }}
    <div class="modal-body">
        {{ form_row(form.type) }}
        {{ form_row(form.raison_sociale) }}
        <div class="row">
            <div class="col-sm">
                {{ form_row(form.civilite) }}
            </div>
            <div class="col-sm">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-sm">
                {{ form_row(form.prenom) }}
            </div>
        </div>
        {{ form_row(form.adresse_ligne_1) }}
        {{ form_row(form.adresse_ligne_2) }}
        {{ form_row(form.ville) }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
        <input type="submit" class="btn btn-primary" value="Ajouter" />
    </div>
{{ form_end(form) }}
