{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adresse</h1>

     <table class="table table-striped table-bordered table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresse.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ adresse.nom }}</td>
            </tr>
            <tr>
                <th>Adresse_1</th>
                <td>{{ adresse.adresse1 }}</td>
            </tr>
            <tr>
                <th>Adresse_2</th>
                <td>{{ adresse.adresse2 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adresse_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('adresse_edit', { 'id': adresse.id }) }}">Mettre à jour</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
