{% extends 'base.html.twig' %}

{% block body %}
    <h1>Devis list</h1>

     <table class="table table-striped table-bordered table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_creation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for devi in devis %}
            <tr>
                <td><a href="{{ path('devis_show', { 'id': devi.id }) }}">{{ devi.id }}</a></td>
                <td>{% if devi.datecreation %}{{ devi.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('devis_show', { 'id': devi.id }) }}" class="btn btn-secondary"><i class="fas fa-eye"></i> Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('devis_edit', { 'id': devi.id }) }}" class="btn btn-primary"><i class="fas fa-edit"></i> Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('devis_new') }}" class="btn btn-success"><i class="fas fa-plus"> </i>Créer un nouveau devi</a>
        </li>
    </ul>
{% endblock %}
